<div (click)="focusTextBox()" style="display: flex; width: 100%; height: 100%">
  <div style="flex: 1">
    <div id="chat-window" style="height: 80%; overflow: auto">
      <div *ngFor="let log of logs">
        <span class="text-light"> {{ log.timestamp }}&nbsp;</span>
        <span>{{ log.msg }}</span>
      </div>
    </div>
    <form #f="ngForm" style="height: 20%" (ngSubmit)="sendMsg(f)" novalidate>
      <div style="display: flex; align-items: center">
        <div class="type-indicator blink">></div>
        <input
          style="width: 100%"
          type="text"
          name="message"
          ngModel
          required
          #textBox
          autocomplete="off"
        />
        <button type="submit">Send Msg</button>
      </div>
    </form>
  </div>
  <div style="display: flex; flex-direction: column; flex: 1; gap: 2rem">
    <app-audio-video
      title="Incoming video feed"
      [mediaStream]="remoteStream"
      *ngIf="remoteStream"
    ></app-audio-video>
    <app-audio-visualizer
      [mediaStream]="remoteStream"
      *ngIf="remoteStream"
      title="Incoming Audio Stream"
    ></app-audio-visualizer>
  </div>
</div>
