<div style="height: 100vh; display: flex" (click)="focusTextBox()">
  <div style="flex-basis: 1">
    <!-- <app-logs [logs]="logs"></app-logs> -->
    <div id="chat-window" style="height: 80%; overflow: auto">
      <div *ngFor="let log of logs">
        <span style="color: grey"> {{ log.timestamp }}&nbsp;</span>
        <span [ngClass]="{ 'blue-text': log.fromRemote }">{{ log.msg }}</span>
      </div>
    </div>
    <form #f="ngForm" style="height: 20%" (ngSubmit)="sendMsg(f)" novalidate>
      <div style="display: flex; align-items: center">
        <div class="type-indicator blink">></div>
        <input
          style="width: 100%"
          type="text"
          name="message"
          ngModel
          required
          #textBox
          autocomplete="off"
        />
      </div>
      <button type="submit">Send Msg</button>
    </form>
  </div>
  <app-audio-video
    [localStream]="localMediaStream"
    [remoteStream]="remoteStream"
    *ngIf="localMediaStream && remoteStream"
  ></app-audio-video>
  <app-audio-visualizer
    [mediaStream]="localMediaStream"
    *ngIf="localMediaStream"
  ></app-audio-visualizer>
</div>
